<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate a News Article with NLP</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <h1>Evaluate a News Article with NLP</h1>
        </section>

        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <div class="validityAlert"></div>
                <input id="url-input" type="text" name="input" value="" placeholder="URL">
                <input type="submit" name="" class="submitBtn" value="Submit"
                    onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <table class="results">
                        <tr id="agreement-result"></tr>
                        <tr id="confidence-result"></tr>
                        <tr id="irony-result"></tr>
                        <tr id="model-result"></tr>
                        <tr id="subjectivity-result"></tr>
                        <tr id="score-tag-result"></tr>
                    </table>
                    <button type="button" class="collapsible">Click for more info</button>
                    <div id="all-result"></div>
                </section>
    </main>

    <footer>
        <p>Copyright@2020</p>
    </footer>
    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
</body>

</html>