<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate a News Article with NLP</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <h1>Evaluate a News Article with NLP</h1>
        </section>

        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <div class="validityAlert"></div>
                <input id="url-input" type="text" name="input" value="" placeholder="URL">
                <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section class="results">
                    <strong>Form Results:</strong>
                    <div id="agreement-result"></div>
                    <div id="confidence-result"></div>
                    <div id="irony-result"></div>
                    <div id="model-result"></div>
                    <div id="subjectivity-result"></div>
                    <div id="score-tag-result"></div>
                </section>
    </main>

    <footer>
        <p>Copyright@2020</p>
    </footer>

</body>

</html>